@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*Global Settings*/
body{
	font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #424242;

	margin-bottom: 35px;
	margin-top: 0;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 21px;
}
p{
	font-size: 16px;
	font-style: italic;
	color: #818181;
}
a{
	transition: all 0.3s ease-in-out;
}
section{
	text-align: center;
}
.blockquote p{
	font-size: 32px;
	line-height: 45px;
	padding-left: 30px;
	border-left: 3px solid #424242;
	color: #424242;
}

.title{
	position: relative;
	margin-bottom: 100px;
}
.title:after{
	content: '';
	height: 5px;
	width: 40px;
	background-color: #c32b28;
	position: absolute;
	top: 81px;
	left: calc(50% - 20px);
}



/*Bootstrap*/
.navbar-vira{
	background-image: none;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
	border-color: transparent;
	transition: all 0.3s ease-in-out;
}
.form-control option{
	color: #424242;
}
.form-control{
    border-radius: 0;
    font-style: italic;
    color: #424242;
}
.form-control:focus{
	border-color: #f3373d;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(81, 194, 185, 0.6);
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}
.form-control:-ms-input-placeholder {  
    color: #fff;  
}

.element .form-control::-webkit-input-placeholder {
    color: #424242;
}
.element .form-control:-moz-placeholder { /* Firefox 18- */
    color: #424242;  
}
.element .form-control::-moz-placeholder {  /* Firefox 19+ */
    color: #424242;  
}
.element .form-control:-ms-input-placeholder {  
    color: #424242;  
}




/* INICIO BACKGROUND */
.mt80{
	margin-top: 80px;
}
.mb80{
	margin-bottom: 80px;
}
.mr60{
	margin-right: 60px;
}
.bg-img{
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.bg-img div{
	z-index: 1;
	position: relative;
}
.bg-img:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
}
.section{
	padding: 100px 0;
}

/*  btn veremelho redondinho da index  */
.vira-card{
	text-align: center;
}
.vira-card .vira-card-header{
	margin-bottom: 45px;
}
.vira-card .vira-card-header .card-icon{
	border: 1px solid #f3373d;
	border-radius: 100%;
	display: inline-block;
	height: 120px;
	width: 120px;
	line-height: 120px;
	position: relative;
}
.vira-card .vira-card-header .card-icon .fa{
	margin-top: 45px;
	font-size: 30px;
}
.vira-card .vira-card-header .card-icon:after{
	content: '';
	height: 100px;
	width: 100px;
	background-color: #f3373d;
	border-radius: 100%;
	position: absolute;
	top: 9px;
	left: 9px;
}
.vira-card .vira-card-header .card-icon span{
	color: #fff;
	font-size: 45px;
	position: relative;
	z-index: 1;
}
.vira-card .vira-card-content h3{
	position: relative;
	margin-bottom: 60px
}
.vira-card .vira-card-content h3:after{
	content: '';
	height: 1px;
	width: 44px;
	background-color: #c32b28;
	position: absolute;
	top: 52px;
	left: calc(50% - 22px);
}
.vira-card .vira-card-content p{
	font-size: 15px;
}
.vira-card .vira-card-content .social-icons{
	margin-top: 30px;
}
.vira-btn {
    border-color: #f3373d;
    font-style: italic;
    color: #fff;
    border-radius: 0;
    letter-spacing: 3px;
    padding: 15px 80px;
    margin-bottom: 30px;
    background-color: #df0025;
    transition: all 0.3s ease-in-out;
}
.vira-btn:hover{
	background-color: #c32b28;
	color: #fff;
}
.vira-quote {
    background-image: url(../img/3.jpg);
    color: #fff;
    font-style: italic;
}

    .vira-quote p {
        font-size: 32px;
        color: #fff;
    }

    .vira-quote .quote {
        margin-bottom: 40px;
    }

    .vira-quote .author {
        font-size: 21px;
        margin-bottom: 40px;
    }

.solid{
	background-color: #f3373d;
	color: #fff;
}
.solid:hover{
	background-color: #fff;
	color: #f3373d;
}
.small-btn{
	padding: 10px 130px;
}






/* HEADER */
.header{
	background-image: url(../img/ecommerce-sales.png);
	height: 100vh;
	position: relative;
	min-height: 659px;
}
.intro-box{
	height: 100vh;
	display: table;
	text-align: center;
	width: 100%;
}
.intro{
	display: table-cell;
	vertical-align: middle;
}
.header h1{
	margin: 0;
}
.header h1, .header p{
	color: #fff;
	letter-spacing: 2px;
}
.header p{
	font-size: 32px;
	padding-top: 0;
	padding-bottom: 40px;
}
.header .vira-btn{
	border-color: #fff;
	color: #fff;
}
.header .vira-btn:hover{
	background-color: #fff;
	color: #424242;
}


.watch{
	background-image: url(../images/7.jpg);
	font-style: italic;
	font-size: 32px;
	color: #fff;
	padding: 150px 0;
}
.watch a{
	border: 2px solid #fff;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 70px;
	border-radius: 100%;
	width: 70px;
	height: 70px;
	padding: 0;
	font-size: 21px;
	color: #fff;
}
.watch a:hover, .watch a:active, .watch a:focus{
	background-color: #fff;
	color: #424242;
}

.subscribe{
	background-image: url(../img/11.jpg);
}
.subscribe .vira-btn{
	margin-bottom: 0;
	color: #424242;
	font-weight: 700;
	border-color: #fff;
	background-color: #fff;
}
.subscribe .vira-btn:hover{
	background-color: transparent;
	color: #fff;
}
.subscribe p{
	color: #fff;
	font-size: 32px;
	margin-bottom: 35px;
}
.subscribe .form-control{
    width: 320px;
    margin-bottom: 0;
    border-color: #fff;
    color: #fff;
}

.contact .vira-card {
    background-color: #f8f8f8;
    padding: 35px 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 45px;
    box-shadow: 0px 4px 2px rgba(17, 17, 17, 0.3);
}
.contact .vira-card .vira-card-header{
	margin-bottom: 15px;
	font-size: 21px;
	color: #f3373d;
}
.contact .vira-card .vira-card-content h3{
	letter-spacing: 2px;
	margin-bottom: 45px;
}
.contact .vira-card .vira-card-content h3:after{
	top: 40px;
}
.contact .vira-card .vira-card-content p{
	font-size: 18px;
}




/*animations*/
.vira-card .vira-card-header .card-icon:after{
	transition: all 0.3s ease-in-out;
}
.vira-card:hover .vira-card-header .card-icon:after{
	height: 120px;
	width: 120px;
	top: -1px;
	left: -1px;
}
.owl-theme .owl-dots .owl-dot span{
	background-color: #f3373d;
	margin: 5px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #f3373d;
	height: 14px;
	width: 14px;
	margin: 3px;
}




@media (max-width: 767px){
	.vira-card{
		margin-bottom: 60px;
	}
}


/* NAVBAR */
.navbar {
    border-radius: 0px 0px 0px 0px;
    background: #333;
}


.a-nav {
    color: #fff;
}

    .a-nav:hover {
        color: #450000;
        text-decoration: none;
    }

.nav-item {
    padding: 10px 30px 10px 30px;
    margin: 10px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover {
    border: 1px #fff solid;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
}
    .nav-item:hover {
        text-decoration: none;
        color: #202020;
    }

#nome-logo {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
    font-family: 'Lucida Handwriting';
    text-decoration: none;
}


.img-cliente-carousel {
    width: 100px;
    height: auto;    
    margin-left: 50%;
}

.div-cliente-carousel {
    width: 600px;
    margin-left: auto;
}


/* INPUTS */
.input-preto {
    background: #FFFFFF00;
    border: 1px #fff solid;
    border-radius: 5px;
    color: #fff !important;
    text-align: center;
}
.input-preto:focus {
    background: #FFFFFF00;
    border: 1px #fff solid;
    border-radius: 5px;
}
.input-preto::placeholder {
    text-align: center;
}

.input-email {
    box-shadow: 2px 2px 5px #30303050;
    border-radius: 7px;
}

#logar {
    width: 300px;
    background: #fff;
    margin: auto;
    margin-top: 150px;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 500ms;
    border: 2px;
    border-color: #000;
    border-style: dotted;
}

/* DIVS */
.news-5 {
    height: 800px;
    background-image: url(../img/ecommerce-sales.png);
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
}


/* FOOTER */
footer {
    overflow: hidden;
    color: #fff;
    height: auto;
    background-color: #101010;
}

    footer div p {
        text-align: center;
        color: #fff;
    }


    footer div h4 {
        font-family: Arial;
        text-align: center;
    }

    footer div img {
        position: relative;
        margin-top: 50px;
        left: 46%;
        margin-left: -50px;
    }

/* Header/Logo Title */
.header-dash {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    background: url(../img/bg-dash-header.jpg);
    background-repeat: repeat;
    background-size: 100%;
    font-size: 33px;
    border-radius: 0% 0% 0% 40%;
}

